h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }

.logo {
  display: block;
}
.logo img {
  max-width: 205px;
}

.votingWrap h1 {
  font-size: 48px;
  font-weight: 700;
  color: #647a68;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
body {
  background: url("../public/voting-app-bg.jpg") no-repeat top center;
  background-size: cover;
}
.content {
  padding: 0;
  position: relative;
  overflow: auto;
}
.contentWrapper {
  width: 600px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  padding: 4rem 4rem;
  background-color: #fff;
  margin: 5% auto;
  transform: translateY(-5%);
}
.votingText {
  background-color: transparent !important;
  font-family: 'Poppins', sans-serif !important;
  color: #000 !important;
  text-align: center !important;
  font-size: 16px !important;
}

.customModal .mantine-Modal-modal {
  background-color: #fff !important;
  border-radius: 20px !important;
  width: 500px !important;
  padding: 4rem 2rem !important;
  transform: translateY(-50%) !important;
  top: 50% !important;
  position: relative !important;
}
.customModal .mantine-Modal-modal .mantine-ActionIcon-root {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  color: #000 !important;
}
.customModal .mantine-Modal-title, .votingTitle {
  color: #647a68 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 36px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  text-align: center !important;
  margin: 0 auto !important;
}
.votingText p {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  color: #000 !important;
  text-align: center !important;
}
.votingText p label {
  font-size: 22px !important;
}
.votingInfo {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  text-align: center !important;
}
.votingCard {
  background-color: #647a68 !important;
  border-radius: 20px !important;
  padding: 0 !important;
}
.votingCard h1 {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 28px !important;
  text-transform: uppercase !important;
  padding: 20px 0 !important;
  border-bottom: 1px solid #fff !important;
}
.votingCard h2 {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 22px !important;
  text-transform: uppercase !important;
  padding: 15px 0 !important;
  text-align: center !important;
}
.votingCard button {
  background-color: #cf8a3a !important;
  margin: 0 auto 20px !important;
  display: block !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  padding: 20px 0 !important;
  height: auto !important;
}
.voteCounter, .voteOption {
  color: #000 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: center !important;
  text-transform: uppercase !important;
}
.votersCard {
  background-color: #647a68 !important;
  border-radius: 30px !important;
  padding: 2rem !important;
}
.votersCard1 {
  background-color: #f0f0f0 !important;
  border-radius: 30px !important;
  padding: 2rem !important;
}
.votersFeature {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px!important;
  font-weight: 600 !important;
  text-align: center !important;
  text-transform: uppercase !important;
}
.votersRef {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 28px!important;
  font-weight: 700 !important;
  text-align: center !important;
}
.votersDescription {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px!important;
  font-weight: 400 !important;
  text-align: center !important;
}
ul.votersList {
  color: #fff;
}
ul.votersList li {
  display: block;
  padding: 20px 10%;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px;
}
.waitingInfo {
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}

.customModal .mantine-Modal-modal form label {
  color: #000 !important;
  margin-bottom: 10px !important;
}
.customModal .mantine-Modal-modal form input {
  background-color: #f0f0f0 !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 15px 0 !important;
  height: auto !important;
  text-indent: 20px !important;
  color: #000 !important;
}
.customModal .mantine-Modal-modal form button.mantine-Button-root {
  background-color: #5f63f2 !important;
  border-radius: 30px !important;
  height: auto !important;
  padding: 20px 0 !important;
  text-align: center !important;
  color: #fff !important;
  font-size: 20px !important;
  width: 320px !important;
  margin: 20px auto !important;
  display: block !important;
}
.customModal .mantine-Input-rightSection {
  right: 15px !important;
}
.customModal .mantine-NumberInput-controlUp, .customModal .mantine-NumberInput-controlDown {
  border: none !important;
}
.customModal .mantine-NumberInput-controlUp:hover, .customModal .mantine-NumberInput-controlDown:hover {
  color: #000 !important;
  background-color: transparent !important;
}

.errorBox {
  background-color: #647a68 !important;
  padding: 1rem !important;
}
.errorBox h1 {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 22px !important;
  text-transform: uppercase !important;
  padding: 5px 0 !important;
}
.errorBox p {
  color: #fff !important;
  text-align: center !important;
}

/*misc*/
.customBtn {
  background-color: #5f63f2 !important;
  display: block !important;
  margin: 10px auto !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  padding: 20px 0 !important;
  height: auto !important;
  width: 300px;
}
.customBtn1 {
  background-color: transparent !important;
  display: block !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  border-radius: 30px !important;
  padding: 15px 10px !important;
  height: auto !important;
  text-transform: uppercase !important;
  border: 2px solid #fff;
}
.customBtn2 {
  background-color: #cf8a3a !important;
  border: 2px solid #cf8a3a;
  display: block !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  border-radius: 30px !important;
  padding: 15px 10px !important;
  height: auto !important;
  text-transform: uppercase !important;
}
.divider {
  background-color: #647a68 !important;
  height: 3px !important;
  width: 150px !important;
  margin: 20px auto !important;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 48px;
  font-family: "Montserrat";
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
  
}
  
