h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }

.logo {
  display: block;
}
.logo img {
  max-width: 205px;
}

.votingWrap h1 {
  font-size: 48px;
  font-weight: 700;
  color: #647a68;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.content {
  background: url("../public/voting-app-bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 0;
  height: 100vh;
  position: relative;
}
.contentWrapper {
  width: 600px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  padding: 4rem 4rem;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.customBtn {
  background-color: #5f63f2 !important;
  display: block !important;
  margin: 10px auto !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  padding: 20px 0 !important;
  height: auto !important;
}
.votingText {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-align: center;
  font-size: 17px;
}

.customModal .mantine-Modal-modal {
  background-color: #fff;
  border-radius: 20px;
  width: 500px;
  padding: 4rem 2rem;
  transform: translateY(-50%) !important;
  top: 50% !important;
  position: relative;
}
.customModal .mantine-Modal-modal .mantine-ActionIcon-root {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}
.customModal .mantine-Modal-title, .votingTitle {
  color: #647a68;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.votingText p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
  text-align: center;
}
.votingText p label {
  font-size: 22px;
}
.votingInfo {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}
.votingCard {
  background-color: #647a68;
  border-radius: 20px;
  padding: 0;
}
.votingCard h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.votingCard h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
}
.votingCard button {
  background-color: #cf8a3a !important;
  margin: 0 auto 20px !important;
  display: block;
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 30px;
  padding: 20px 0;
  height: auto !important;
}

.customModal .mantine-Modal-modal form label {
  color: #000;
  margin-bottom: 10px;
}
.customModal .mantine-Modal-modal form input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 30px;
  padding: 15px 0;
  height: auto;
  text-indent: 20px;
  color: #000;
}
.customModal .mantine-Modal-modal form button.mantine-Button-root {
  background-color: #5f63f2;
  border-radius: 30px;
  height: auto;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 320px;
  margin: 20px auto;
  display: block;
}
.customModal .mantine-Input-rightSection {
  right: 15px;;
}
.customModal .mantine-NumberInput-controlUp, .customModal .mantine-NumberInput-controlDown {
  border: none;
}
.customModal .mantine-NumberInput-controlUp:hover, .customModal .mantine-NumberInput-controlDown:hover {
  color: #000;
  background-color: transparent;
}

.errorBox {
  background-color: #647a68;
  padding: 1rem;
}
.errorBox h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.divider {
  background-color: #647a68;
  height: 3px;
  width: 150px;
  margin: 20px auto;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 48px;
  font-family: "Montserrat";
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
  
}
  
